{% load staticfiles %}
{% block sidebar %}

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
    </div>
    <!-- search form -->
    
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul id="jetsContent" class="sidebar-menu">
      <li id="administrativo" class="treeview {% if request.path == '/' %} active {% endif %}">
       <a href="{% url 'dashboard' %}">
          <i class="fa fa-tachometer"></i> <span>Painel</span>
            <!-- <i class="fa fa-angle-left pull-right"></i> -->
        </a>

      </li>
      <li id="pessoas" class="treeview {% if '/voters/person/' in request.path %} active {% endif %}">
       <a href="">
       <i class="fa fa-users"></i> <span>Pessoas</span> 
         <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="{% if request.path == '/voters/person/' %} active {% endif %}"><a href="{% url 'person_list' %}"><i class="fa fa-list"></i>Listagem</a></li>
            <li class="{% if request.path == '/voters/person/graph' %} active {% endif %}">
            <a href="{% url 'person_graph' %}"><i class="fa fa-pie-chart"></i>Gráfico</a></li>
          </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
{% endblock %}
