voter{% extends "voters/base/base.html" %}

{% block title %}
Dashboard · voters/
{% endblock %}

{% block style-login %}{% endblock %}

{% block header %}
{% include "voters/base/header.html" %}
{% endblock %}

{% block sidebar %}
{% include "voters/base/sidebar.html" %}
{% endblock %}

{% block content-header %}
{% include "voters/base/content-header.html" %}
{% endblock %}

{% block content %}
{% include "voters/base/content.html" %}
{% endblock %}

{% block footer %}
{% include "voters/base/footer.html" %}
{% endblock %}
