{% extends "voters/base/base.html" %}
{% load staticfiles %}

{% load widget_tweaks %}

{% block title %}
    Novo/Editar Pessoa · CAMPAIGN
{% endblock %}

{% block css-dashboard %}{% endblock %}
{% block style-login %}{% endblock %}

{% block wrapper %}
<div class="wrapper">
  {% block header %}
  {% include "voters/base/header.html" %}
  {% endblock %}

  {% block sidebar %}
  {% include "voters/base/sidebar.html" %}
  {% endblock %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block content-header %}
    <section class="content-header">
      <h1>
        Pessoa
        <small>Cadastro e Edição</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"> Pessoa</a></li>
        <li class="active">Novo/Editar Pessoa</li>
      </ol>
    </section>
    {% endblock %}

    {% block content %}
    <!-- Main content -->
    <section class="content">

      <form role="form" class="form-horizontal" method="POST">{% csrf_token %}
        <!-- general form elements -->
        <div class="row">
        <div class="col-sm-8">
        <div class="box">
          <!-- form start -->
          <div class="box-body ">
            {% if error %}
              <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Falha ao Cadastrar!</h4>
                <p>Verifique os campos abaixo e corrija os erros.</p>
              </div>
            {% endif %}
            <div class="row">
                <div class='col-sm-9'>
                        {% for field in form %}
                          <div class="form-group">
                            <label for="{{ field.name }}" class="col-sm-3 control-label">
                              {{ field.label }}
                            </label>
                            <div class="col-sm-9">
                              {{ field|add_class:'form-control' }}
                              <div class="text-red">{{ field.errors }}</div>
                            </div>
                            <br/>
                          </div>
                        {% endfor %}
                 </div>
                 <div class='col-sm-3'>
                        <input type="submit" value="Salvar" class="btn btn-block btn-success" name="_save">
                        <a href="/" class="btn btn-block btn-danger">Cancelar</a>
                         
                   </div>
              </div>                 
                     
                 </div>
                 </div>
                 </div>
                 </div>
          </div>
        </div>
      </form>
 
    </section>
    {% endblock %}
  </div>
  {% block footer %}
  {% include "voters/base/footer.html" %}
  {% endblock %}
</div>
{% endblock %}

 {% block js-extra-table %}
  <script type="text/javascript">
        $('#id_indication').select2();
  </script>
{% endblock %}

{% block js-dashboard %}{% endblock %}
