{% extends "voters/base/base.html" %}

{% load easy_maps_tags %}

{% block title %}
Dashboard · CAMPAIGN
{% endblock %}

{% block style-login %}{% endblock %}

{% block header %}
{% include "voters/base/header.html" %}
{% endblock %}

{% block sidebar %}
{% include "voters/base/sidebar.html" %}
{% endblock %}

{% block css-extra %}
    <style>
      .google-maps {
          position: relative;
          padding-bottom: 75%; // This is the aspect ratio
          max-height: 0;
          overflow: hidden;
      }
      .google-maps #map-canvas {
          position: absolute;
          top: 0;
          left: 0;
          width: 100% !important;
          height: 100% !important;
          max-height: 400px;
      }
      #box-body-map{
          max-height: 420px;
      }
    </style>
{% endblock %}  

{% block js-extra %}
{% endblock %}


{% block content-header %}
{% include "voters/base/content-header.html" %}
{% endblock %}

{% load staticfiles %}
{% block content %}
<!-- Main content -->
<section class="content">

<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua">
            <i class="fa fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Pessoas Cadastradas</span>
              <span class="info-box-number">{{q_persons}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red">
            <i class="fa fa-paper-plane"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">SMS Enviados</span>
              <span class="info-box-number">0</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green">
            <i class="fa fa-building"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Locais de Votação Cadastrados</span>
              <span class="info-box-number">0</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green">
            <i class="fa fa-money"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Valor em Aberto</span>
              <span class="info-box-number">R$ 00,00</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Locais de Votação - São Gonçalo do Amarante</h3>
            </div>
            <div class="box-body" id="box-body-map">
                <div class="google-maps">
                    <div id="map-canvas" class="easy-map-googlemap"  >
                    </div>
                  
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Aniversariantes do Mês</h3>
            </div>
            <div class="box-body" id="box-body-map">
                {% if aniversariantes %}
            <table class="table no-margin">
              <thead>
                <tr><th>Nome</th>
                  <th>Data</th>
                </tr>
              </thead>
             
              <tbody>
              
              {% for aniversariante in aniversariantes %}
                <tr>
                 <td>{{aniversariante.name|upper}}</td>
                  <td>{{aniversariante.dataNascimento|date:"d/m/Y" }}</td>
                </tr>
              {% endfor %}
            
              </tbody>
                
            </table>
            {% else %}
              <div>Não há pessoas aniversariando esse mês.</div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

</section>

  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>

   <script type="text/javascript">
   var map;
    function initialize_map() {       
        var latlng = new google.maps.LatLng(-5.7848443, -35.3267804);
        var mapElem = document.getElementById("map-canvas");
            var mapOptions = {
                zoom: 14,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

             map = new google.maps.Map(mapElem, mapOptions);

             {% for marker in markers %}

              var marker = new google.maps.Marker({
                position: new google.maps.LatLng({{marker.0}}, {{marker.1}}),
                map: map,
                title: "{{marker.2}}",
                icon: "https://maps.google.com/mapfiles/kml/shapes/schools_maps.png",
                animation: google.maps.Animation.DROP
              });

              marker['infowindow']  = new google.maps.InfoWindow({
                     content: "<h3>{{marker.2}}</h3><h5><i class='fa fa-user' style='margin-right:5px;'></i>22 Pessoas votam aqui</h5>",});
              google.maps.event.addListener(marker, 'click', function() {
                  //window.location.href = this.url;
                   this['infowindow'].open(map, this);
              });
             google.maps.event.addListener(marker, 'mouseover', function() {
                  // this['infowindow'].open(map, this);
                      });
             google.maps.event.addListener(marker, 'mouseout', function() {
                  // this['infowindow'].close(map, this);

              });
              {% endfor %}
    }
        // initialize the map after page loading
        google.maps.event.addDomListener(window, 'load', initialize_map);
 
  </script>

{% endblock %}


{% block footer %}
{% include "voters/base/footer.html" %}
{% endblock %}